<!-- This html represent a client website where the discovery module will be loaded.
It comes with a SplashUp alternative button (in the HTML) and its associated CSS (link in the header).
This button will trigger the discovery module.
It also comes with a Discovery Module Loader which is a script that load the index.js necessary to run the DM -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Host website" />

    <%= require('html-loader!./alternativeButtonStyle.html').default %>

    <title>Host website</title>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div style="display:flex;justify-content: space-between;">
      <div style="position:relative;left:200px;margin:2rem;width:200;height:250">
        <img width="200" src="http://static.theiconic.com.au/p/Sonoran-Overheaad-2280811-1.jpg" />
        <%= require('html-loader!./alternativeButton.html').default %>
      </div>
      <div id="app"> 
        <%= require('html-loader!./widgetButton.html').default %>
      </div>
    </div>
    
    <%= require('html-loader!./discoveryModuleLoader.html').default %>
  </body>
</html>
