<!-- This html represent a client website where the discovery module will be loaded.
It comes with a SplashUp alternative button (in the HTML) and its associated CSS (link in the header).
This button will trigger the discovery module.
It also comes with a Discovery Module Loader which is a script that load the index.js necessary to run the DM -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Host website" />

    <%= require('html-loader!./alternativeButtonStyle.html').default %>
    <script>
      function addItem(productId) {
          
          //let stateString = localStorage.getItem('state')
          let state = {}
          let products = []
          let newProduct = {}
          if (localStorage.getItem('state')) {
            state = JSON.parse(localStorage.getItem('state'))
            products = state.products
          }
          switch (productId) {
            case '111': {
              newProduct = {
                id: 111,
                title: "Black Leather Bag",
                handle: "black-leather-bag",
                description: "<p>Womens black leather bag, with ample space. Can be worn over the shoulder, or remove straps to carry in your hand.</p>",
                published_at: "2022-04-12T14:55:53+03:00",
                created_at: "2022-04-12T14:55:54+03:00",
                vendor: "partners-demo",
                type: "",
                tags: [
                  "women"
                ],
                price: 3000,
                price_min: 3000,
                price_max: 3000,
                available: true,
                price_varies: false,
                compare_at_price: null,
                compare_at_price_min: 0,
                compare_at_price_max: 0,
                compare_at_price_varies: false,
                variants: [
                  {
                    id: 40010448830487,
                    title: "Default Title",
                    option1: "Default Title",
                    option2: null,
                    option3: null,
                    sku: null,
                    requires_shipping: true,
                    taxable: true,
                    featured_image: null,
                    available: true,
                    name: "Black Leather Bag",
                    public_title: null,
                    options: [
                      "Default Title"
                    ],
                    price: 3000,
                    weight: 0,
                    compare_at_price: null,
                    inventory_management: null,
                    barcode: null
                  }
                ],
                images: [
                  'https://cdn.shopify.com/s/files/1/0518/6233/9773/products/TOP_PANTHEA_BODYSUIT_WASHED_BLACK_1998_c91c0a56-410b-4747-a8a6-c8a661491819.jpg?v=1646938581', 
                  'https://cdn.shopify.com/s/files/1/0518/6233/9773/products/BOMBER_JACKET_BLACK_BORG_5160_d1adc06d-1f0e-48c1-9c65-14866121353b_2000x.jpg?v=1646928395'
                ],
                featured_image: "//cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554",
                options: [
                  {
                    name: "Title",
                    position: 1,
                    values: [
                      "Default Title"
                    ]
                  }
                ],
                url: "/products/black-leather-bag",
                media: [
                  {
                    alt: null,
                    id: 21143643586583,
                    position: 1,
                    preview_image: {
                      aspect_ratio: 1.499,
                      height: 617,
                      width: 925,
                      src: "https://cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554"
                    },
                    aspect_ratio: 1.499,
                    height: 617,
                    media_type: "image",
                    src: "https://cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554",
                    width: 925
                  }
                ]  
              }
              break
            }
            case '222': {
              newProduct = {
                id: 222,
                title: "Black Leather Bag",
                handle: "black-leather-bag",
                description: "<p>Womens black leather bag, with ample space. Can be worn over the shoulder, or remove straps to carry in your hand.</p>",
                published_at: "2022-04-12T14:55:53+03:00",
                created_at: "2022-04-12T14:55:54+03:00",
                vendor: "partners-demo",
                type: "",
                tags: [
                  "women"
                ],
                price: 3000,
                price_min: 3000,
                price_max: 3000,
                available: true,
                price_varies: false,
                compare_at_price: null,
                compare_at_price_min: 0,
                compare_at_price_max: 0,
                compare_at_price_varies: false,
                variants: [
                  {
                    id: 40010448830487,
                    title: "Default Title",
                    option1: "Default Title",
                    option2: null,
                    option3: null,
                    sku: null,
                    requires_shipping: true,
                    taxable: true,
                    featured_image: null,
                    available: true,
                    name: "Black Leather Bag",
                    public_title: null,
                    options: [
                      "Default Title"
                    ],
                    price: 3000,
                    weight: 0,
                    compare_at_price: null,
                    inventory_management: null,
                    barcode: null
                  }
                ],
                images: [
                'https://cdn.shopify.com/s/files/1/0518/6233/9773/products/DRESS_ARISE_TANK_GREY_MARLE_BLACKcopy_3ad65266-7519-490d-af81-810b2e9b0696_2000x.jpg?v=1646887091', 'https://cdn.shopify.com/s/files/1/0518/6233/9773/products/BOMBER_JACKET_BLACK_BORG_5160_d1adc06d-1f0e-48c1-9c65-14866121353b_2000x.jpg?v=1646928395','https://cdn.shopify.com/s/files/1/0518/6233/9773/products/SHORT_KALI_MUSE_887_2000x.jpg?v=1646940795'
                ],
                featured_image: "//cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554",
                options: [
                  {
                    name: "Title",
                    position: 1,
                    values: [
                      "Default Title"
                    ]
                  }
                ],
                url: "/products/black-leather-bag",
                media: [
                  {
                    alt: null,
                    id: 21143643586583,
                    position: 1,
                    preview_image: {
                      aspect_ratio: 1.499,
                      height: 617,
                      width: 925,
                      src: "https://cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554"
                    },
                    aspect_ratio: 1.499,
                    height: 617,
                    media_type: "image",
                    src: "https://cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554",
                    width: 925
                  }
                ]
              }
              break
            }
          } 
          /*products = [{
            id: 111,
            title: "Black Leather Bag",
            handle: "black-leather-bag",
            description: "<p>Womens black leather bag, with ample space. Can be worn over the shoulder, or remove straps to carry in your hand.</p>",
            published_at: "2022-04-12T14:55:53+03:00",
            created_at: "2022-04-12T14:55:54+03:00",
            vendor: "partners-demo",
            type: "",
            tags: [
              "women"
            ],
            price: 3000,
            price_min: 3000,
            price_max: 3000,
            available: true,
            price_varies: false,
            compare_at_price: null,
            compare_at_price_min: 0,
            compare_at_price_max: 0,
            compare_at_price_varies: false,
            variants: [
              {
                id: 40010448830487,
                title: "Default Title",
                option1: "Default Title",
                option2: null,
                option3: null,
                sku: null,
                requires_shipping: true,
                taxable: true,
                featured_image: null,
                available: true,
                name: "Black Leather Bag",
                public_title: null,
                options: [
                  "Default Title"
                ],
                price: 3000,
                weight: 0,
                compare_at_price: null,
                inventory_management: null,
                barcode: null
              }
            ],
            images: [
              'https://cdn.shopify.com/s/files/1/0518/6233/9773/products/TOP_PANTHEA_BODYSUIT_WASHED_BLACK_1998_c91c0a56-410b-4747-a8a6-c8a661491819.jpg?v=1646938581', 
              'https://cdn.shopify.com/s/files/1/0518/6233/9773/products/BOMBER_JACKET_BLACK_BORG_5160_d1adc06d-1f0e-48c1-9c65-14866121353b_2000x.jpg?v=1646928395'
            ],
            featured_image: "//cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554",
            options: [
              {
                name: "Title",
                position: 1,
                values: [
                  "Default Title"
                ]
              }
            ],
            url: "/products/black-leather-bag",
            media: [
              {
                alt: null,
                id: 21143643586583,
                position: 1,
                preview_image: {
                  aspect_ratio: 1.499,
                  height: 617,
                  width: 925,
                  src: "https://cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554"
                },
                aspect_ratio: 1.499,
                height: 617,
                media_type: "image",
                src: "https://cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554",
                width: 925
              }
            ]
          },
          {
            id: 222,
            title: "Black Leather Bag",
            handle: "black-leather-bag",
            description: "<p>Womens black leather bag, with ample space. Can be worn over the shoulder, or remove straps to carry in your hand.</p>",
            published_at: "2022-04-12T14:55:53+03:00",
            created_at: "2022-04-12T14:55:54+03:00",
            vendor: "partners-demo",
            type: "",
            tags: [
              "women"
            ],
            price: 3000,
            price_min: 3000,
            price_max: 3000,
            available: true,
            price_varies: false,
            compare_at_price: null,
            compare_at_price_min: 0,
            compare_at_price_max: 0,
            compare_at_price_varies: false,
            variants: [
              {
                id: 40010448830487,
                title: "Default Title",
                option1: "Default Title",
                option2: null,
                option3: null,
                sku: null,
                requires_shipping: true,
                taxable: true,
                featured_image: null,
                available: true,
                name: "Black Leather Bag",
                public_title: null,
                options: [
                  "Default Title"
                ],
                price: 3000,
                weight: 0,
                compare_at_price: null,
                inventory_management: null,
                barcode: null
              }
            ],
            images: [
            'https://cdn.shopify.com/s/files/1/0518/6233/9773/products/DRESS_ARISE_TANK_GREY_MARLE_BLACKcopy_3ad65266-7519-490d-af81-810b2e9b0696_2000x.jpg?v=1646887091', 'https://cdn.shopify.com/s/files/1/0518/6233/9773/products/BOMBER_JACKET_BLACK_BORG_5160_d1adc06d-1f0e-48c1-9c65-14866121353b_2000x.jpg?v=1646928395','https://cdn.shopify.com/s/files/1/0518/6233/9773/products/SHORT_KALI_MUSE_887_2000x.jpg?v=1646940795'
            ],
            featured_image: "//cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554",
            options: [
              {
                name: "Title",
                position: 1,
                values: [
                  "Default Title"
                ]
              }
            ],
            url: "/products/black-leather-bag",
            media: [
              {
                alt: null,
                id: 21143643586583,
                position: 1,
                preview_image: {
                  aspect_ratio: 1.499,
                  height: 617,
                  width: 925,
                  src: "https://cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554"
                },
                aspect_ratio: 1.499,
                height: 617,
                media_type: "image",
                src: "https://cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554",
                width: 925
              }
            ]
          },{
            id: 333,
            title: "Black Leather Bag",
            handle: "black-leather-bag",
            description: "<p>Womens black leather bag, with ample space. Can be worn over the shoulder, or remove straps to carry in your hand.</p>",
            published_at: "2022-04-12T14:55:53+03:00",
            created_at: "2022-04-12T14:55:54+03:00",
            vendor: "partners-demo",
            type: "",
            tags: [
              "women"
            ],
            price: 3000,
            price_min: 3000,
            price_max: 3000,
            available: true,
            price_varies: false,
            compare_at_price: null,
            compare_at_price_min: 0,
            compare_at_price_max: 0,
            compare_at_price_varies: false,
            variants: [
              {
                id: 40010448830487,
                title: "Default Title",
                option1: "Default Title",
                option2: null,
                option3: null,
                sku: null,
                requires_shipping: true,
                taxable: true,
                featured_image: null,
                available: true,
                name: "Black Leather Bag",
                public_title: null,
                options: [
                  "Default Title"
                ],
                price: 3000,
                weight: 0,
                compare_at_price: null,
                inventory_management: null,
                barcode: null
              }
            ],
            images: [
            'https://cdn.shopify.com/s/files/1/0518/6233/9773/products/TOP_ARISE_SS_TEE_CHOCOLATE_2692_dbb43b6a-1083-4175-a192-dd22c90e8267_2000x.jpg?v=1646927142', 'https://cdn.shopify.com/s/files/1/0518/6233/9773/products/BOMBER_JACKET_BLACK_BORG_5160_d1adc06d-1f0e-48c1-9c65-14866121353b_2000x.jpg?v=1646928395'
            ],
            featured_image: "//cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554",
            options: [
              {
                name: "Title",
                position: 1,
                values: [
                  "Default Title"
                ]
              }
            ],
            url: "/products/black-leather-bag",
            media: [
              {
                alt: null,
                id: 21143643586583,
                position: 1,
                preview_image: {
                  aspect_ratio: 1.499,
                  height: 617,
                  width: 925,
                  src: "https://cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554"
                },
                aspect_ratio: 1.499,
                height: 617,
                media_type: "image",
                src: "https://cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554",
                width: 925
              }
            ]
          },
          {
            id: 444,
            title: "Black Leather Bag",
            handle: "black-leather-bag",
            description: "<p>Womens black leather bag, with ample space. Can be worn over the shoulder, or remove straps to carry in your hand.</p>",
            published_at: "2022-04-12T14:55:53+03:00",
            created_at: "2022-04-12T14:55:54+03:00",
            vendor: "partners-demo",
            type: "",
            tags: [
              "women"
            ],
            price: 3000,
            price_min: 3000,
            price_max: 3000,
            available: true,
            price_varies: false,
            compare_at_price: null,
            compare_at_price_min: 0,
            compare_at_price_max: 0,
            compare_at_price_varies: false,
            variants: [
              {
                id: 40010448830487,
                title: "Default Title",
                option1: "Default Title",
                option2: null,
                option3: null,
                sku: null,
                requires_shipping: true,
                taxable: true,
                featured_image: null,
                available: true,
                name: "Black Leather Bag",
                public_title: null,
                options: [
                  "Default Title"
                ],
                price: 3000,
                weight: 0,
                compare_at_price: null,
                inventory_management: null,
                barcode: null
              }
            ],
            images: [
            'https://cdn.shopify.com/s/files/1/0518/6233/9773/products/DRESS_ARISE_TANK_CHOCOLATE_2354_fe43a8d4-4e69-4214-8fcf-6addb9ee21b2.jpg?v=1646887058', 'https://cdn.shopify.com/s/files/1/0518/6233/9773/products/TOP_ARISE_TANK_CHOCOLATE_2604_9ab91c9e-d541-485d-932e-89c5f388c4a1.jpg?v=1646948062'
            ],
            featured_image: "//cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554",
            options: [
              {
                name: "Title",
                position: 1,
                values: [
                  "Default Title"
                ]
              }
            ],
            url: "/products/black-leather-bag",
            media: [
              {
                alt: null,
                id: 21143643586583,
                position: 1,
                preview_image: {
                  aspect_ratio: 1.499,
                  height: 617,
                  width: 925,
                  src: "https://cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554"
                },
                aspect_ratio: 1.499,
                height: 617,
                media_type: "image",
                src: "https://cdn.shopify.com/s/files/1/0572/4762/9335/products/black-bag-over-the-shoulder_925x_083b8ce1-0945-4af2-91f0-57d66c2d2d86.jpg?v=1649764554",
                width: 925
              }
            ]
          }
        ]
        */
        console.log('+ button clicked')  
        products.push(newProduct)
        state = {...state, products: products, productSelected: products[0]}
            localStorage.setItem('state', JSON.stringify(state))
          }
        
       
    </script>
    <title>Host website</title>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div style="display:flex;justify-content: space-between;">
      <div style="position:relative;left:200px;margin:2rem;width:200;height:250">
        <img width="200" src="http://static.theiconic.com.au/p/Sonoran-Overheaad-2280811-1.jpg" />
        <%= require('html-loader!./alternativeButton.html').default %>
        <svg onClick="addItem('111')" id="111" style="z-index: 8; position: relative; left: 86%; top: calc(4vh + 18px);" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="11.9967" cy="12.0006" r="10.2857" fill="white" fill-opacity="0.7"/>
          <path d="M11.9967 1.71484C17.6773 1.71484 22.2824 6.31991 22.2824 12.0006C22.2824 17.6812 17.6773 22.2863 11.9967 22.2863C6.31601 22.2863 1.71094 17.6812 1.71094 12.0006C1.71094 6.31991 6.31601 1.71484 11.9967 1.71484ZM11.9967 3.42913C7.26278 3.42913 3.42522 7.26669 3.42522 12.0006C3.42522 16.7344 7.26278 20.572 11.9967 20.572C16.7305 20.572 20.5681 16.7344 20.5681 12.0006C20.5681 7.26669 16.7305 3.42913 11.9967 3.42913ZM11.9967 6.8577C12.47 6.8577 12.8538 7.24146 12.8538 7.71484V11.1434H16.2824C16.7558 11.1434 17.1395 11.5272 17.1395 12.0006C17.1395 12.4739 16.7558 12.8577 16.2824 12.8577H12.8538V16.2863C12.8538 16.7597 12.47 17.1434 11.9967 17.1434C11.5233 17.1434 11.1395 16.7597 11.1395 16.2863V12.8577H7.71094C7.23755 12.8577 6.85379 12.4739 6.85379 12.0006C6.85379 11.5272 7.23755 11.1434 7.71094 11.1434H11.1395V7.71484C11.1395 7.24146 11.5233 6.8577 11.9967 6.8577Z" fill="#555555"/>
        </svg>
        <svg onClick="addItem('222')" id="111" style="z-index: 8; position: relative; left: 86%; top: 4vh;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="11.9967" cy="12.0006" r="10.2857" fill="white" fill-opacity="0.7"/>
          <path d="M11.9967 1.71484C17.6773 1.71484 22.2824 6.31991 22.2824 12.0006C22.2824 17.6812 17.6773 22.2863 11.9967 22.2863C6.31601 22.2863 1.71094 17.6812 1.71094 12.0006C1.71094 6.31991 6.31601 1.71484 11.9967 1.71484ZM11.9967 3.42913C7.26278 3.42913 3.42522 7.26669 3.42522 12.0006C3.42522 16.7344 7.26278 20.572 11.9967 20.572C16.7305 20.572 20.5681 16.7344 20.5681 12.0006C20.5681 7.26669 16.7305 3.42913 11.9967 3.42913ZM11.9967 6.8577C12.47 6.8577 12.8538 7.24146 12.8538 7.71484V11.1434H16.2824C16.7558 11.1434 17.1395 11.5272 17.1395 12.0006C17.1395 12.4739 16.7558 12.8577 16.2824 12.8577H12.8538V16.2863C12.8538 16.7597 12.47 17.1434 11.9967 17.1434C11.5233 17.1434 11.1395 16.7597 11.1395 16.2863V12.8577H7.71094C7.23755 12.8577 6.85379 12.4739 6.85379 12.0006C6.85379 11.5272 7.23755 11.1434 7.71094 11.1434H11.1395V7.71484C11.1395 7.24146 11.5233 6.8577 11.9967 6.8577Z" fill="#555555"/>
        </svg>

      </div>
      <div id="app"> 
        <%= require('html-loader!./widgetButton.html').default %>
      </div>
    </div>
    
    <%= require('html-loader!./discoveryModuleLoader.html').default %>
    <script>
      let icon = document.querySelector('#splasup-shortlist-remove-icon')
      const openDiscoveryModule = (e) => {
          
          const productId = e.target.getAttribute('product-id')
          console.log('productId = ' + productId)

          //setProductId(productId)
      }
      document.addEventListener('shortlist-item-removed', openDiscoveryModule, true)
    </script>
  </body>
</html>
